nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 99%;
    z-index: 999;
  }
  

  .logo {
    font-size: 1.5em;
  }
  


  .logo a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
  }
  .main-container{
    padding-top: 60px; 
    width: 100%;
    margin: 0 auto; 
    padding-bottom: 100px;
  }
  .sidebar {      
    left: 0;
    width: 200px;
    height: 100%; 
    background-color: #f1f1f1;
    float: left;
    
    
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .sidebar li:last-child {
    border-bottom: none;
  }
  
  .sidebar li:hover {
    background-color: #ddd;
  }
  #movie-details img {
    width: 180px;
    height: 180px;
    
  }

 